{%extends 'base.html'%}

{% block title%}
about
{%endblock%} style="font-family: 'Papyrus',

{% block contend%}
<br>
<h1 class="text-center" style="color: blanchedalmond; font-family: 'papyrus';" >About Our Team</h1>

<!-- Header -->
<header>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
       
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
            </ul>
        </div>
    </nav>
</header>

<!-- Main Content -->
<main class="container my-5">
    <div class="row">
        <div class="col-md-8 mx-auto">
            
            
            <p class="text-justify" style="color: blanchedalmond;">Welcome to our international wedding studio! We are a team of passionate and experienced photographers, videographers, and event coordinators dedicated to creating beautiful and timeless memories for your special day. Our studio offers a range of wedding services, including photography, videography, album design, and event planning.

                <p class="text-justify" style="color: blanchedalmond;">  We pride ourselves on our ability to provide a personalized and tailored experience for each of our clients, working closely with you to understand your unique vision and style. Our team has extensive experience working with couples from diverse cultural backgrounds, ensuring that we can accommodate any wedding customs and traditions.
                
                    <p class="text-justify" style="color: blanchedalmond;">  We use state-of-the-art equipment and techniques to capture every detail of your wedding day, from the intricate decorations to the candid moments between you and your loved ones. Our focus on creativity, professionalism, and attention to detail ensures that your wedding photos and videos will be stunning, timeless, and cherished for generations to come.
               
                        <p class="text-justify" style="color: blanchedalmond;"> At our international wedding studio, we understand the importance of communication and collaboration, and we work closely with you every step of the way to ensure that your wedding day is stress-free and enjoyable. Contact us today to learn more about our services and book your dream wedding experience!</p>
            
        </div>
    </div>
</main>
{%endblock%}
